<div class="container">
  <div class="row">
    <div class="col-md-offset-2 hidden-xs hidden-sm"></div>
    <div class="col-xs-12 col-md-8">
      <div class="row well">
        <form class="form-inline" ng-submit="todoSubmit(); false" name="todoForm">
          <div class="form-group col-xs-11">
            <div class="input-group col-xs-11">
              <input type="text" class="form-control " ng-model="todoItem.value" name="todoItem" placeholder="TODO">
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right col-xs-1">Add</button>
        </form>
      </div>

      <div class="row">
        <div class="">

          <div class="input-group" ng-repeat="item in todoItems">
            <span ng-class="['input-group-addon', {'bg-success': item.done}]">
              <input type="checkbox" ng-click="toggleDone(item)" >
            </span>
            <div class="form-control">{{ item.value }}</div>
            <span class="input-group-btn" ng-hide="item.done">
              <button type="button" class="btn btn-danger" ng-click="removeTodoItem(item._id, item._rev)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </span>
          </div><!-- /input-group -->


        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

    </div>
  </div>
</div>
